@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    --cor-fundo-principal: #f6f6f6;
    --cor-fundo-sec: #c1c1c1;
    --cor-fonte-principal: #232323;
    --cor-fonte-sec: #5b5b5b;
    --fonte-titulos: 'Roboto Slab', serif;
    --fonte-tags: 'Space Mono', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo-principal);  
    color: var(--cor-fonte-principal);
}

.imagem_header{
    width: 100vw;
    height: 30vh;
    border-radius: 0 0 2rem 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: var(--fonte-titulos);
}

header p {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
}

nav{
    margin-bottom: 2rem;
}

.barra_nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover{
    font-weight: 600;
}

.em_breve{
    position: relative;
    bottom: 1rem;
    right: 0.3rem;
    font-family: var(--fonte-tags);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--cor-fundo-sec);
}

hr {
    margin: 1rem 0;
}

.pagina_blog{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.artigo {
    display:flex;
    flex-direction: column;
}

.artigo_titulo {
    font-size: 3rem;
    font-family: var(--fonte-titulos);
}

.artigo_tag{
    font-size: 1.2rem;
    font-family: var(--fonte-tags);
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    background-color: var(--cor-fundo-sec);
    width: fit-content;
    margin-bottom: 2rem;
}

.artigo_texto {
    font-size: 1.6rem;
    color: var(--cor-fonte-sec);
    margin-bottom: 2rem;
}

.artigo_info{
    display: flex;
    justify-content: space-between;
}

.artigo_autor{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.artigo_autor_foto{
    border-radius: 100%;
    width: 5rem;
}

.artigo_autor_info{
    font-size: 1.2em;
}

.artigo_autor_info p{
    font-weight: 800;
}

.artigo_autor_info span{
    color: var(--cor-fonte-sec);
}

.artigo_data{
    display: flex;
    align-items: center;
}

.artigo_data p{
    font-weight: 800;
    font-size: 1.2em;
}

.separacao_artigo{
    border-bottom: 1px solid var(--cor-fundo-sec);
    width: 50vw;
    align-self: center;
}