figure {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    
    figcaption, img {
        max-width: 60vw;
        margin: 0 auto;

        @include responsividade("tablet") {
            max-width: 80%;
        }

        @include responsividade("mobile") {
            max-width: 100% !important;
        }
    }
}

h3 {
    font-size: 2rem;
    margin: 2rem 0 0.5rem 0;
}

ul, ol {
    list-style: none;
    
    li {
        color: $cor-fonte-sec;
        
        span {
            font-weight: 800;
        }
    }
}

p, li {
    margin: 1rem 0;
    text-align: justify;
}

code {
    padding: 0 0.3rem;
    background-color: rgba(243, 146, 0, 0.1);
    border-radius: 0.3rem;
}

.conteudo {
    display: flex;
    flex-direction: column;

    .artigo__info {
        margin-top: 3rem;
    } 
}

.conteudo__titulo {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-family: $fonte-titulos;
}

.conteudo__texto {
    font-size: 1.6rem;
    color: $cor-fonte-sec;

    span {
        font-weight: 600;
    }
}

.conteudo__figuras {
    @include flex (center,center);
    flex-wrap: wrap;
    gap: 3rem;
}

.conteudo__figuras--em-coluna {
    @include flex(center);
    flex-direction: column;
    gap: 2rem;
}

.artigo__info__autor__nome p{
    margin: 0;
}
