@media screen and (min-width: 1920px) {
    .listagem-artigos{
        grid-template-columns: repeat(4,1fr);
    }

    .listagem-artigos__card a {
        max-width: 100%;
    }
}

/* Tamanho de 1280px à 1919px é o tamanho original para o qual o site foi desenvolvido */

@media screen and (768px <= width <= 1279px) {
    .navegacao {
        display: none;
    }
     
    .navegacao--responsiva {
        display: block;
    }

    .artigo > img {
        height: 50vh;
    }

    .listagem-artigos{
        grid-template-columns: repeat(2, 1fr);
    }

    .listagem-artigos__card a {
        max-width: 100%;
    }

    .artigo__card a {
        left: 10%;
    }
}

@media screen and (max-width: 767px) {
    .artigo > img {
        height: 40vh;
    }

    .navegacao {
        display: none;
    }

    .navegacao--responsiva {
        display: block;
    }

    .pesquisa__item{
        width: 30vw;
    }

    .listagem-artigos{
        grid-template-columns: 1fr;
    }

    .listagem-artigos__card a {
        max-width: 100%;
    }

    .artigo__card a {
        left: 10%;
    }

}