header {
    padding: 2rem;
    @include sticky();
    top: 0;
    z-index: 1;
    @include flex(space-between, center);
    @include box-shadow(0 3px 6px rgba(0,0,0,0.16));
    background: $cor-fundo-principal;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: $fonte-titulos;
}

a {
    text-decoration: none;
}

main {
    margin: 5rem auto;
    width: 80vw;
    @include flex(center);
    flex-direction: column;
    gap: 2rem;

    >h2{
        font-size: 2.5rem;
        margin-top: 5rem;
    }
}

img {
    border-radius: 1rem;
}

footer {
    margin-bottom: 1rem;
    @include flex(center, center);
    flex-direction: column;
}

.artigo__tag--css-basico {
    background-color: corTag("css-basico");
}

.artigo__tag--posicionamento {
    background-color: corTag("posicionamento");
}

.artigo__tag--animacoes {
    background-color: corTag("animacoes");
}

.artigo__tag--responsividade {
    background-color: corTag("responsividade");
}

.navegacao {
    @include flex(center);
    gap: 3rem;
    font-size: 1.6rem;

    a {
        &:hover {
            font-weight: 700;
        }
    }

    @include responsividade("mobile"){
        display: none;
    }

    @include responsividade("tablet"){
        display: none;
    }
}

.navegacao--responsiva{
    display: none;
    position: relative;

    @include responsividade("mobile"){
        display: block;
    }

    @include responsividade("tablet"){
        display: block;
    }
}

.navegacao__botao--responsiva {
    align-self: center;
    border: none;
}

.navegacao__imagem--responsiva {
    height: 4rem;
    width: 4rem;
    border-radius: 0;

    @include responsividade ("tablet"){
        max-width: 100%;
    }
}

.navegacao__listagem--responsiva {
    display: none;
    position: absolute;
    top: 6rem;

    a {
        display: block;
        padding: 1.5rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.pesquisa {
    position: relative;

    img {
        position: absolute;
        right: 5%;
        top: 0.5rem;
    }
}

.pesquisa__item {
    padding: 0.5rem 1rem;
    border: 0.2rem solid $cor-fonte-sec;
    border-radius: 0.5rem;

    @include responsividade("mobile") {
        width: 30vw;
    }
}

.artigo {
    text-align: center;
    
    >img {
        max-width: 100%;
        height: 60vh;

        @include responsividade("mobile") {
            height: 40vh;
        }

        @include responsividade("tablet") {
            height: 50vh;
        }
    }
}

.artigo__card {
    position: relative;

    a {
        padding: 2rem;
        width: fit-content;
        max-width: 80%;
        position: absolute;
        bottom: -5rem;
        left: 25%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: left;
        background-color: $cor-fundo-principal;
        border-radius: 1.2rem;
        @include box-shadow(0 10px 20px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.1));
    
        h2 {
            font-family: $fonte-titulos;
            font-size: 3rem;
            line-height: 3.1rem;
        }

        @include responsividade("mobile") {
            left: 10%;
        }
    
        @include responsividade("tablet") {
            left: 10%;
        }
    }

    span {
        margin-bottom: 0;
    }
}

.listagem-artigos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include responsividade("mobile") {
        grid-template-columns: 1fr;
    }

    @include responsividade("tablet") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsividade("fullHD") {
        grid-template-columns: repeat(4, 1fr);
    }
}

.listagem-artigos__card {
    a {
        width: 100%;
        max-width: 100%;
        padding: 2rem;
        height: 100%;
        @include flex(space-between);
        flex-direction: column;
        gap: 1rem;
        border-radius: 1.2rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.1);

        h2 {
            font-family: $fonte-titulos;
            font-size: 2.5rem;
        }

        >img{
            width: 100%;
            height: 50%;
            border-radius: 1rem;
        }
    }

    span {
        margin-bottom: 0;
    }

    @include responsividade("mobile") {
        margin: 0 auto;
        width: 100%;
        height: fit-content;
    }
}

.artigo__tag {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    margin-bottom: 2rem;
    font: 600 1.2rem $fonte-tags;
    border-radius: 0.8rem;
}

.artigo__info {
    @include flex(space-between);
}

.artigo__info__autor {
    @include flex(normal, center);
    gap: 1rem;

    img {
        width: 5rem;
        border-radius: 100%;
    }
}

.artigo__info__autor__nome {
    font-size: 1.2rem;

    p{
        font-weight: 800;
    }

    span {
        color: $cor-fonte-sec;
    }
}

.artigo__data {
    @include flex(normal, center);
    font-weight: 800;
    font-size: 1.2rem;
}
