.conteudo__botao {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    position: relative;
    display: block;
    font-family: $fonte-tags;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    
    &:hover{
        cursor: pointer;
        background-color: #b09bc1;
        color: #fff;
        border: 2px solid #b09bc1;
        @include transform(scale(1.2));
    }
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

#conteudo__teste {
    padding: 0.5rem;
    width: 20vw;
    margin-bottom: 1rem;
    font-family: $fonte-tags;
    border-radius: 0.5rem;
    border: 2px solid #000000;
    background-color: #e7e6e7;

    &:focus {
        background-color: #ffffff;
        color: #ff0000;
        }

    @include responsividade("mobile") {
        width: 100%;
    }

    @include responsividade("tablet") {
        width: 80%;
    }
}

.conteudo__titulo--animado {
    @include animation(escrita 10s steps(120, end) infinite);
    white-space: nowrap;
    overflow: hidden;
}

.conteudo__animacao img {
    margin: 25vh 0 0 0;
    width: 3vw;
    position: relative;
    border-radius: 100%;
    @include animation(animacao 4s infinite linear alternate);
 
    @include responsividade("mobile") {
        width: 10vw;
    }

    @include responsividade("tablet") {
        width: 5vw;
    }
}

.conteudo__transicoes {
    margin: 0 auto;
    width: 50vw;
    @include flex(space-between);

    div {
        margin: 2rem 0 1rem 0;
        width: 10rem;
        height: 10rem;
        position: relative;
        background-color: #ff0000;
        transition: all 1s ease-in;

        @include responsividade("mobile") {
            width: 3rem;
            height: 3rem;
        }

        @include responsividade("tablet") {
            width: 7rem;
            height: 7rem;
        }
    }   
}

.conteudo__transicoes--primeiro:hover {
    background-color: #b09bc1;
    @include transform(rotateZ(90deg));
}

.conteudo__transicoes--segundo:hover {
    background-color: #b09bc1;
    @include transform(translateX(5rem));
}

.conteudo__transicoes--terceiro:hover {
    background-color: #b09bc1;
    @include transform(skew(15deg));
}

.conteudo__transicoes--quarto:hover {
    background-color: #b09bc1;
    @include transform(scale(0.5));
}

@include keyframes (escrita) {
    0% {
        width: 0%;
    } 
    
    100% {
        width: 100%;
    }
}

@include keyframes(animacao) {
    0% {
        left: 5vw;
    }

    4% {
        left: 8vw;
        bottom:3vh;
    }

    7% {
        left: 10vw;
        bottom: 5vh
    }

    14% {
        left: 15vw;
        bottom: 10vh;
    }

    21% {
        left: 20vw;
        bottom: 15vh;
    }

    28% {
        left: 25vw;
        bottom: 20vh;
    }

    31% {
        left: 28vw;
        bottom:22.5vh;
    }

    35% {
        left: 30vw;
        bottom: 25vh;
    }

    38% {
        left: 33vw;
        bottom: 22.5vh;
    }

    42% {
        left: 35vw;
        bottom: 20vh;
    }

    49% {
        left: 40vw;
        bottom: 15vh;
    }

    56% {
        left: 35vw;
        bottom: 10vh;
    }

    63% {
        left: 30vw;
        bottom: 5vh;
    }

    70% {
        left: 30vw;
        bottom: 15vh;
    }

    74%{
        left: 33vw;
        bottom: 17vh;
    }

    77% {
        left: 35vw;
        bottom: 20vh;
    }

    84% {
        left: 45vw;
        bottom: 25vh;
    }

    87% {
        left: 47vw;
        bottom: 20vh;
    }

    91% {
        left: 50vw;
        bottom: 15vh;
    }
    95% {
        left: 55vw;
        bottom: 10vh;
    }

    100% {
        left: 60vw;
        bottom: 5vh;
    }
}
