@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$cor-fundo-principal: #f6f6f6;
$cor-fonte-principal: #232323;
$cor-fonte-sec: #5b5b5b;
$cor-tag-css-basico: #0095DA;
$cor-tag-posicionamento: #FF8F7C;
$cor-tag-animacoes: #F39200;
$cor-tag-responsividade: #1BB2BB;
$fonte-titulos: 'Roboto Slab', serif;
$fonte-tags: 'Space Mono', sans-serif;

@mixin responsividade ($dispositivo) {
    @if $dispositivo == "mobile" {
        @media screen and (max-width: 767px) {
            @content;
        }
    } @else if $dispositivo == "tablet" {
        @media screen and (768px <= width <= 1279px) {
            @content;
        }       
    } @else if $dispositivo == "fullHD" {
        @media screen and (min-width: 1920px) {
            @content;
        }
    }  
} 

@mixin flex ($justificado, $alinhado: normal) {
    display: flex;
    justify-content: $justificado;
    align-items: $alinhado;
}

@mixin sticky {
    position: sticky;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: -moz-sticky;
    position: -o-sticky;
}

@mixin animation ($animacao) {
    animation: $animacao;
    -webkit-animation: $animacao;
    -moz-animation: $animacao;
    -o-animation: $animacao;
}

@mixin keyframes ($nome) {
    @keyframes #{$nome} {
        @content;
    }
    
    @-webkit-keyframes #{$nome} {
        @content;
    }

    @-moz-keyframes #{$nome} {
        @content;
    }

    @-o-keyframes #{$nome} {
        @content;
    }
}

@mixin transform ($transformacao) { 
    transform: $transformacao;
    -webkit-transform: $transformacao;
    -ms-transform: $transformacao;
    -moz-transform: $transformacao;
    -o-transform: $transformacao;
}

@mixin box-shadow ($sombras...) {
    box-shadow: $sombras;
    -webkit-box-shadow: $sombras;
    -moz-box-shadow: $sombras;
    -ms-box-shadow: $sombras;
    -o-box-shadow: $sombras;
}

@function corTag ($tag) {
    @if $tag == "css-basico" {
        @return $cor-tag-css-basico;
    } @else if $tag == "posicionamento" {
        @return $cor-tag-posicionamento;
    } @else if $tag == "animacoes" {
        @return $cor-tag-animacoes;
    } @else if $tag == "responsividade" {
        @return $cor-tag-responsividade;
    }
}

@function tamanhoFonte ($dispositivo) {
    @if $dispositivo == "mobile" {
        @return 50%;
    } @else if $dispositivo == "tablet" {
        @return 56.25%;
    } @else if $dispositivo == "desktop" {
        @return 62.5%;
    } @else if $dispositivo == "fullHD" {
        @return 68.75%;
    }
}

:root{
    font-family: 'Open Sans', sans-serif;
    font-size: tamanhoFonte("desktop");

    @include responsividade("fullHD") {
        font-size: tamanhoFonte("fullHD");
    }

    @include responsividade("tablet") {
        font-size: tamanhoFonte("tablet");
    }

    @include responsividade("mobile") {
        font-size: tamanhoFonte("mobile");
    }
}
