@import "/styles/reset.css";
@import "/styles/variables.css";

/* Tamanho de 1280px à 1919px é o tamanho original para o qual o site foi desenvolvido */
/* Tamanho à partir de 1920px não precisa de alterações nesta folha de estilo */

@media screen and (min-width: 768px) and (max-width: 1279px) { 
    figcaption, img {
        max-width: 80%;
    }
    
    .navegacao__imagem--responsiva {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 767px){
    figcaption, img {
        max-width: 100% !important;
    } 
}