@import "/styles/styles.css";
@import "/styles/article_style_responsive.css";

figure {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
}

figcaption, img {
    max-width: 60%;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0 0.5rem 0;
}

ul {
    list-style: none;
    & li {
        color: var(--cor-fonte-sec);
        & span {
            font-weight: 800;
        }
    }
}

p, li {
    margin: 1rem 0;
    text-align: justify;
}

code {
    padding: 0 0.3rem;
    background-color: rgba(243, 146, 0, 0.1);
    border-radius: 0.3rem;
}

.conteudo {
    display:flex;
    flex-direction: column;
}

.conteudo__titulo {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-family: var(--fonte-titulos);
}

.conteudo__texto {
    font-size: 1.6rem;
    color: var(--cor-fonte-sec);
}

.conteudo__figuras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.conteudo__figuras--em-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.artigo__info {
    margin-top: 3rem;

    & .artigo__info__autor__nome p{
        margin: 0;
    }
}
