@import "/styles/styles.css";

figure {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0;
}

h3 {
    font-size: 2rem;
}

ul {
    list-style: none;
    & li {
        color: var(--cor-fonte-sec);
        & span {
            font-weight: 800;
        }
    }
}

p, li {
    margin: 1rem 0;
    text-align: justify;
}

.conteudo {
    display:flex;
    flex-direction: column;
}

.conteudo__titulo {
    font-size: 3rem;
    font-family: var(--fonte-titulos);
    margin-bottom: 0.5rem;
}

.conteudo__texto {
    font-size: 1.6rem;
    color: var(--cor-fonte-sec);
}

.conteudo__figuras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.conteudo__figuras--em-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.artigo__info {
    margin-top: 3rem;

    & .artigo__info__autor__nome p{
        margin: 0;
    }
}
