@import "/styles/style.css";
@import "/styles/pages_style_responsive.css";

.titulo{
    margin: 2rem 0;
    text-align: center;
    font-size: 4rem;
    font-family: var(--fonte-titulos);
}

.listagem-artigos, .titulo {
    bottom: 0;
}