@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    --cor-fundo-principal: #f6f6f6;
    --cor-fundo-sec: #c1c1c1;
    --cor-fonte-principal: #232323;
    --cor-fonte-sec: #5b5b5b;
    --fonte-titulos: 'Roboto Slab', serif;
    --fonte-tags: 'Space Mono', sans-serif;
    --css-basico: #0095DA;
    --posicionamento: #FF8F7C;
    --animacoes: #F39200;
    --responsividade: #1BB2BB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo-principal);  
    color: var(--cor-fonte-principal);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.css_basico {
    background-color: var(--css-basico);
}

.posicionamento{
    background-color: var(--posicionamento);
}

.animacoes{
    background-color: var(--animacoes);
}

.responsividade{
    background-color: var(--responsividade);
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: var(--fonte-titulos);
}

.barra_nav {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.6rem;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover{
    font-weight: 700;
}

.barra_busca {
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--cor-fonte-sec);
    border-radius: 0.5rem;
}

.pesquisa img{
    position: relative;
    right: 11%;
    top: 0.3rem;
}

.pagina_blog{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.top_artigo{
    text-align: center;
}

.top_artigo > img{
    width: 70%;
    border-radius: 1.2rem;
}

.top_artigo_card{
    width: fit-content;
    max-width: 50%;
    border-radius: 1.2rem;
    background-color: var(--cor-fundo-principal);
    position: relative;
    bottom: 15rem;
    left: 20%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-family: var(--fonte-titulos);
}

.top_artigo_card span, .artigo_card span {
    margin-bottom: 0;
}

.top_artigo_card h2{
    font-size: 3rem;
    line-height: 3.1rem;
}

.primeira_pagina > h2 {
    font-size: 2.5rem;
    position: relative;
    bottom: 10rem;
}

.artigos_todos{
    position: relative;
    bottom: 8rem;
    display: flex;
    gap: 3rem;
}

.artigo_card{
    max-width: 25vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1.2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.1);
}

.artigo_card h2 {
    font-size: 2.5rem;
    font-family: var(--fonte-titulos);
}

.artigo_card > img {
    max-width: 20vw;
    border-radius: 1rem;
}

.artigo_card .artigo_info{
    float:inline-end;
}

.artigo {
    display:flex;
    flex-direction: column;
}

.artigo_titulo {
    font-size: 3rem;
    font-family: var(--fonte-titulos);
}

.artigo_tag{
    font-size: 1.2rem;
    font-family: var(--fonte-tags);
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    width: fit-content;
    margin-bottom: 2rem;
}

.artigo_texto {
    font-size: 1.6rem;
    color: var(--cor-fonte-sec);
}

.artigo_info{
    display: flex;
    justify-content: space-between;
}

.artigo_autor{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.artigo_autor_foto{
    border-radius: 100%;
    width: 5rem;
}

.artigo_autor_info{
    font-size: 1.2em;
}

.artigo_autor_info p{
    font-weight: 800;
}

.artigo_autor_info span{
    color: var(--cor-fonte-sec);
}

.artigo_data{
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.2em;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
