@import "/styles/style.css";
@import "/styles/article_style.css";

button{
    position:relative;
    font-family: var(--fonte-tags);
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    display: block;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: #b09bc1;
    color: #fff;
    border: 2px solid #b09bc1;
    transform: scale(1.2);
}

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    display: block;
}

#teste{
    width: 20vw;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #e7e6e7;
    font-family: var(--fonte-tags);
}

#teste:focus{
    background-color: #fff;
    color: red;
}

.artigo_titulo_animacao{
    animation: escrita 10s steps(120, end) infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes escrita {
    0% {
        width: 0%;
    } 
    
    100% {
        width: 100%;
    }
}

.homem_aranha img{
    width: 3vw;
    margin: 25vh 0 0 0;
    border-radius: 100%;
    animation: animação 4s infinite linear alternate;
    position: relative;
}

@keyframes animação {
    0% {
        left: 5vw;
    }

    4% {
        left: 8vw;
        bottom:3vh;
    }

    7% {
        left: 10vw;
        bottom: 5vh
    }

    14% {
        left: 15vw;
        bottom: 10vh;
    }

    21% {
        left: 20vw;
        bottom: 15vh;
    }

    28% {
        left: 25vw;
        bottom: 20vh;
    }

    31% {
        left: 28vw;
        bottom:22.5vh;
    }

    35% {
        left: 30vw;
        bottom: 25vh;
    }

    38% {
        left: 33vw;
        bottom: 22.5vh;
    }

    42% {
        left: 35vw;
        bottom: 20vh;
    }

    49% {
        left: 40vw;
        bottom: 15vh;
    }

    56% {
        left: 35vw;
        bottom: 10vh;
    }

    63% {
        left: 30vw;
        bottom: 5vh;
    }

    70% {
        left: 30vw;
        bottom: 15vh;
    }

    74%{
        left: 33vw;
        bottom: 17vh;
    }

    77% {
        left: 35vw;
        bottom: 20vh;
    }

    84% {
        left: 45vw;
        bottom: 25vh;
    }

    87% {
        left: 47vw;
        bottom: 20vh;
    }

    91% {
        left: 50vw;
        bottom: 15vh;
    }
    95% {
        left: 55vw;
        bottom: 10vh;
    }

    100% {
        left: 60vw;
        bottom: 5vh;
    }
}

.transitions{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.transition1, .transition2, .transition3, .transition4{
    width: 100px;
    height: 100px;
    margin: 2rem 0 1rem 0;
    position: relative;
    background-color: red;
    transition: all 1s ease-in;
}

.transition1:hover{
    background-color: #b09bc1;
    transform: rotateZ(90deg);
}

.transition2:hover{
    background-color: #b09bc1;
    transform: translateX(5rem);
}

.transition3:hover{
    background-color: #b09bc1;
    transform:skew(15deg);
}

.transition4:hover{
    background-color: #b09bc1;
    transform: scale(0.5);
}