:root{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    --cor-fundo-principal: #f6f6f6;
    --cor-fonte-principal: #232323;
    --cor-fonte-sec: #5b5b5b;
    --cor-tag-css-basico: #0095DA;
    --cor-tag-posicionamento: #FF8F7C;
    --cor-tag-animacoes: #F39200;
    --cor-tag-responsividade: #1BB2BB;
    --fonte-titulos: 'Roboto Slab', serif;
    --fonte-tags: 'Space Mono', sans-serif;
}

@media screen and (min-width: 1920px) {
    :root{
        font-size: 68.75%;
    }
}

/* Tamanho de 1280px à 1919px é o tamanho original para o qual o site foi desenvolvido */


@media screen and (min-width: 768px) and (max-width: 1279px) {
    :root{
        font-size: 56.25%;
    }
}

@media screen and (max-width: 767px) {
    :root{
        font-size: 50%;
    }
}